<html>
    <head>
        <meta charset="UTF-8" />
        <title>ejs example</title>
    </head>
    <body>
        <ul>
            <% cats.forEach(function(cat) { %>
               <li><%= cat.name %></li> 
            <% }); %>
        </ul>
    </body>
</html>