<html>
    <head>
        <meta charset="UTF-8" />
        <title>ejs example</title>
    </head>
    <body>
        <form action="/topic" method="post">
            <p>
                <input type="text" name="title" placeholder="title">
            </p>
            <p>
                <textarea name="description" ></textarea>
            </p>
            <p>
                <input type="submit">
            </p>
        </form>
    </body>
</html>